<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- {{ isTrue ? message : 'poo' }} -->
        
        <div v-if="isTrue">
            {{ message }}
        </div>
        <!-- <button v-bind:disabled="isTrue">Press</button> -->
        <button v-on:click="toggleIsTrue">Press</button>
        <div>
            {{ methodName() }}
        </div>

        <input type="test" v-model="message">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>